@charset "utf-8";
/* CSS Document */
*{
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box;  /* Safari */
 font-family: Verdana,Arial,Helvetica,sans-serif;
 font-size: 0.87rem;
}
a,img,button,input,textarea,p,span,ul,div{
  -webkit-tap-highlight-color:rgba(255,255,255,0);
}
html,body,h1,h2,h3,h4,h5,p,form,button,dl,dd,dt {
  margin:0; padding:0; font-size:100%;
}
html, body {
  width: 100%;
}
img {
  height:auto; /* display:block; */ border:0;
}
body {
   color:#2b2b2b; background:#f7f7f7;
}
ul,ol,dl,dd,dt {
  list-style:none; margin:0; padding:0;
}
h1,h2,h3,h4 {
  font-weight:normal;
}
a,img,button,input,textarea {
  outline:none; border:none; background:none; -webkit-appearance:none;
}
i,em {
  font-style: normal;
}
a {
  color: #000; text-decoration:none;
}
a:hover {
   text-decoration:none;
}
input[type=button],input[type=search],input[type=number],input[type=text],input[type=password],input[type=email]{
		-webkit-appearance:none;
		outline:none;
		padding-left:0.62rem;
}
select{ appearance: none; -moz-appearance: none; -webkit-appearance: none; padding-left: 0.62rem;}
.clear{height:0;overflow:hidden}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.clearfix{zoom:1}
.fl{float:left}
.fr{float:right}
section{ position: relative;}
.border-bottom {
	position: relative;
	border:none;
}
.border-bottom:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #E1E1E1;
	content: '';
	transform: scaleY(0.5);
  transform-origin: 0 1px;
}

.border-top {
	position: relative;
	border:none;
}
.border-top:before {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	background: #E1E1E1;
	content: '';
	transform: scaleY(0.5);
  transform-origin: 0 0;
}

.scale-1px{
  position: relative;
  border:none;
}
.scale-1px:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.green-1px{
  position: relative;
  border:none;
}
.green-1px:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #1db677;
  border-radius: 0.62rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}


.angle-1px{
  position: relative;
  border:none;
}
.angle-1px:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #E1E1E1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}


@media screen and (max-width: 320px) {
	html {
		 font-size:12px;
	}
}
@media screen and (min-width: 320px) and (max-width: 360px) {
	html {
		 font-size:14px;
	}
}
@media screen and (min-width: 360px) and (max-width: 400px) {
	html {
		 font-size:15px;
	}
}
@media screen and (min-width: 400px) and (max-width: 440px) {
	html {
		font-size:18px;
	}
}
@media screen and (min-width: 440px) and (max-width: 480px) {
	html {
		 font-size:20px;
	}
}
@media screen and (min-width: 480px) and (max-width: 520px) {
	html {
		 font-size:22px;
	}
}
@media screen and (min-width: 520px) and (max-width: 560px) {
	html {
		 font-size:24px;
	}
}
@media screen and (min-width: 560px) and (max-width: 600px) {
	html {
		 font-size:26px;
	}
}
@media screen and (min-width: 600px) and (max-width: 640px) {
	html {
		 font-size:28px;
	}
}
@media screen and (min-width: 640px) and (max-width: 680px) {
	html {
		 font-size:30px;
	}
}
@media screen and (min-width: 720px) {
	html {
		 font-size:32px;
	}
}