@CHARSET "utf-8";

.address-apply-header {
	color: #030303;
	font-size: 16px;
	position: relative;
}

.address-apply-header-line {
	width: 100px;
	height: 1px;
	position: absolute;
	top: 50%;
	background: #dddadb;
}

.address-apply-header-line.left {
	left: -130px
}

.address-apply-header-line.right {
	right: -130px
}

.address-apply-content {
	background: #f9f9f9;
	padding: 30px 0;
}

.address-apply-content-upload {
	width: 125px;
	height: 125px;
	margin-right: 31px;
	border: 1px solid #dcdcdc;
	position: relative;
	float: left;
}

.address-apply-content-upload .hd {
	height: 30px;
	line-height: 30px;
	color: #606060;
	background: #eaeaea;
	display: block;
	text-align: center;
}

.address-apply-content-upload .con {
	height: 95px;
	line-height: 95px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.address-apply-content-upload p {
	margin-bottom: 0;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 80%;
	display: none;
	text-align: center;
}

.address-apply-content-upload .icon {
	width: 60px;
	height: 60px;
	background: url("../../images/address/addressplist.png") no-repeat 0 0;
}

.address-apply-content-upload .icon.word {
	background-position: 0 -140px;
}

.address-apply-content-upload .icon.worded {
	width: 50px;
	height: 50px;
	background-position: 0 -1020px;
}

.address-apply-content-upload .icon-thum {
	width: 90px;
	height: 90px;
	display: none;
}

.address-apply-content-upload .mask {
	width: 100%;
	height: 100%;
	line-height: 123px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	display: none;
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
}

.address-apply-content-upload:hover .mask {
	display: block;
}

.address-apply-state {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180px;
	color: #999;
	font-size: 16px;
}

.address-apply-state .state-icon-ing {
	width: 95px;
	height: 100px;
	background: url("../../images/address/addressplist.png") no-repeat 0 -850px;
	margin-right: 20px;
}

.address-apply-state .state-icon {
	width: 95px;
	height: 100px;
	background: url("../../images/address/addressplist.png") no-repeat 0 -730px;
	margin-right: 20px;
}

.address-list-rightarea {
	background: transparent;
}

.address-list-item {
	height: 80px;
	font-size: 14px;
	color: #606060;
	text-align: center;
	display: flex;
	transition: all .3s ease;
	cursor: pointer;
	margin-bottom: 10px;
	background: #fff;
}

.address-list-item:hover {
	text-decoration: none;
	color: #606060;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .15);
}

.address-list-item.text-right {
	justify-content: flex-end;
	align-items: center;
}

.address-list-item.hd {
	height: 75px;
	color: #c32116;
	font-weight: bold;
	border-top: 4px solid #c32116;
}

.address-list-item.nd {
	justify-content: center;
	height: 200px;
}
.address-list-item.nd span{
	justify-content: center !important;
}
.address-list-item span:first-child {
	width: 10%;
	justify-content: flex-end;
}

.address-list-item span {
	width: 18%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.address-list-item .list-details {
	color: #c32116;
	text-decoration: none;
	transition: all .2s;
}

.address-list-item .list-details:hover {
	color: #c32116;
	text-decoration: none;
	opacity: .8;
	filter: alpha(opacity = 80);
}

.address-list-item .list-caret {
	color: #968e8d; display : inline-block;
	width: 0;
	height: 0;
	margin-left: 12px;
	vertical-align: middle;
	border-left: 6px dashed;
	display: inline-block; width : 0; height : 0; margin-left : 12px; vertical-align : middle; border-left : 6px dashed;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
}

.address-list-item .level {
	width: 33px;
	height: 28px;
	background: url("../../images/address/addressplist.png") no-repeat;
	display: inline-block;
}

.address-list-item .level1 {
	background-position: 0 -240px;
}

.address-list-item .level2 {
	background-position: 0 -316px;
}

.address-list-item .level3 {
	background-position: 0 -393px;
}

.address-list-item .level4 {
	background: transparent;
	width: 33px !important;
	height: 28px;
	line-height: 28px;
	color: #666;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding-right: 0 !important;
}

.address-list-item .logo {
	width: 61px;
	height: 61px;
}

.address-details-header {
	height: 220px;
	background: #f9f9f9;
	display: flex;
	align-items: center;
}

.address-details-header .logo {
	width: 180px;
	height: 180px;
}

.address-details-header .project {
	color: #834765;
	font-size: 24px;
	padding-bottom: 30px;
	display: block;
	font-weight: bold;
}

.address-details-header .name {
	color: #606060;
	font-size: 20px;
	display: inline-block;
	padding-left: 30px;
	background: url("../../images/address/addressplist.png") no-repeat 0 -446px;
}

.address-details-header .phone {
	color: #606060;
	font-size: 20px;
	display: inline-block;
	margin-left: 70px;
	padding-left: 30px;
	background: url("../../images/address/addressplist.png") no-repeat 0 -496px;
}

.address-details-header .vision {
	font-size: 14px;
	color: #888;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 10px 0;
	margin-bottom: 0;
}

.address-details-header .btn-like {
	min-width: 125px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	height: 35px;
	margin-right: 20px;
}

.address-details-header .btn-nolike {
	min-width: 125px;
	background: transparent;
	border: 1px solid #d4d4d4;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	height: 35px;
}

.address-details-header .btn-nolike:focus {
	outline: none;
}

.address-details-header .icon-like {
	width: 20px;
	height: 15px;
	background: url("../../images/address/addressplist.png") no-repeat -70px -540px;
	display: inline-block;
}

.address-details-header .icon-likeed {
	background-position-x: 0;
}

.address-details-header .icon-nolike {
	width: 20px;
	height: 15px;
	background: url("../../images/address/addressplist.png") no-repeat 0 -580px;
	display: inline-block;
}

.address-details-header .icon-nolikeed {
	background-position-x: -70px;
}

.address-details-border {
	border: 1px solid #d4d4d4;
	border-top: none;
}

.address-details-padding {
	padding: 0 45px;
}

.address-details-item {
	border-top: 1px solid #f1f1f1;
	padding: 0 30px;
}

.address-details-item-hd {
	height: 55px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.address-details-item-hd .nickname {
	font-size: 16px;
	color: #834765;
}

.address-details-item-hd .datetime {
	padding-left: 30px;
	font-size: 14px;
	color: #999999;
	font-size: 14px;
}

.address-details-item-hd .sort {
	font-size: 16px;
	color: #ec691e;
	position: absolute;
	right: 0;
}

.address-details-item-cn {
	font-size: 14px;
	color: #646464;
}

.address-details-item-bt {
	height: 30px;
	text-align: right;
}

.address-details-item-bt .txt {
	color: #834765;
}

.address-details-item-bt .num {
	color: #999;
}

.address-details-whitePaper {
	display: none;
}